body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: black;
    margin: 0;
}

header 
{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px;
}

footer
{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}
hi
{
    font-size: 10px;
}
.filmes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;

}
.filme
{
    background-color: white;
    border-style: solid;
    border-radius: 7%;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;

}
.filme img
{
    width: 90%;
    height: auto;
    border-style: solid;
    border-radius: 7%;
    
}